<p id="notice"><%= notice %></p>

<p>
  <strong>hashtag</strong>
  <%= @query.name %>
</p>

<table class="table dt-responsive nowrap" width="100%" cellspacing="0" id = "queries" >
  <thead>
    <tr>
      <th>IMG</th>
      <th>Username</th>
      <th>Says</th>
      <th>Retweets</th>
      <th>Faves</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>IMG: <%= image_tag("#{tweet.user.profile_image_uri(size = :normal)}") %></td>
        <td>Username: <%= tweet.user.screen_name %></td>
        <td>Says: <%= tweet.text %></td>
        <td>Retweets: <%= tweet.retweet_count %></td>
        <td>Faves: <%= tweet.favorite_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>


<script >
    $(document).ready(function() {
        $('#queries').DataTable( {
            responsive: true,
        } );
    } );
</script>
