<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @query.name %>
  <%= @woof %>
</p>

<tbody>
    <% @tweets.each do |tweet| %>
      <tr>
      <td>IMG: <%= image_tag("#{tweet.user.profile_image_uri(size = :normal)}") %></td>
      </br>
        <td>Username: <%= tweet.user.screen_name %></td>
        </br>
        <td>Says: <%= tweet.text %></td>
        </br>
        <td>Retweets: <%= tweet.retweet_count %></td>
        </br>
        <td>Faves: <%= tweet.favorite_count %></td>
        </br>
        </br>
        </br>
      </tr>
    <% end %>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>
