<p id="notice"><%= notice %></p>

<p>
  <strong>hashtag</strong>
  <%= @query.name %>
</p>

<table class="table dt-responsive nowrap" width="100%" cellspacing="0" id = "queries" >
  <thead>
    <tr>
      <th>Profile Image</th>
      <th>Username</th>
      <th>Text</th>
      <th>Says</th>
      <th>Retweets</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= image_tag("#{tweet.user.profile_image_uri(size = :normal)}") %></td>
        <td>Username: <%= tweet.user.screen_name %></td>
        <td>Says: <%= tweet.text %></td>
        <td>Retweets: <%= tweet.retweet_count %></td>
        <td>Faves: <%= tweet.favorite_count %></td>
        <td><%= raw((@client.oembed(tweet.id).html)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_query_path(@query) %> |
<%= link_to 'Back', queries_path %>


<script >
    $(document).ready(function() {
        $('#queries').DataTable( {
            responsive: true,
        } );
    } );
</script>


<script>
window.twttr = (function (d, s, id) {
var t, js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src= "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);
return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
}(document, "script", "twitter-wjs"));
</script>
